<div class="container">
<%= link_to 'Add a movie', new_list_bookmark_path(@list) %>

<% if @list.photo.key %>
<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<div class="container">
  <% @list.bookmarks.each do |bookmark| %>
    <h4><%= bookmark.movie.title %></h4>
    <p><%= bookmark.comment %></p>
  <% end %>
</div>

<%= link_to 'Return to list homepage', root_path %>

</div>
